@use "../../../scss/utilities" as u;

.tile {
  display: flex;
  gap: 2rem;
  border-bottom: 1px solid u.$color-primary;
  padding: 1rem 0;

  &__img {
    width: 60px;
    align-self: center;
  }

  &__details {
    flex-grow: 1;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;

    button {
      margin-left: auto;
    }

    a,
    button {
      padding: 6px 12px;
    }
  }
}
