@use "../../../scss/utilities" as u;

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-around;
  &__logo {
    display: block;
    width: 30%;
    max-width: 12rem;

    img {
      filter: invert(9%) sepia(96%) saturate(7026%) hue-rotate(3deg)
        brightness(98%) contrast(93%);
      width: 100%;
    }
  }

  &__title {
    letter-spacing: 2px;
    word-spacing: 1rem;
    color: #e61708;
  }

  @include u.min-width(medium) {
    flex-direction: column;
    gap: 2rem;
  }
}
