@use "../../../scss/utilities" as u;

.form {
  padding: 0 1rem;
  max-width: 800px;
  margin: 0 auto;

  &__control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 3rem;
    align-items: center;
  }

  input[type="text"] {
    flex-grow: 1;
  }

  input:focus,
  :focus-visible,
  select:focus-within {
    outline: 1px solid u.$color-primary;
    border-color: u.$color-primary;
  }
}
