@use "../../../scss/utilities" as u;

.form {
  padding: 0 u.$bu;

  &__control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
    gap: 24px;
    align-items: center;
  }

  input[type="text"] {
    flex-grow: 1;
  }

  input:focus,
  :focus-visible,
  select:focus-within {
    outline: 1px solid u.$color-primary;
    border-color: u.$color-primary;
  }
}
