//BU stands for BASE UNIT, used for margin and padding
$bu: 8px !default;

//Padding
@mixin padding($multiplier: 1, $ratio: 1) {
  $base-padding: $bu * $multiplier;
  @if $ratio != 1 {
    $padding-tb: $base-padding * $ratio;

    padding: $padding-tb $base-padding;
  } @else {
    padding: $base-padding;
  }
}

//Margin: Same as padding
@mixin margin($multiplier: 1, $ratio: 1) {
  $base-margin: $bu * $multiplier;
  @if $ratio != 1 {
    $margin-tb: $base-margin * $ratio;

    margin: $margin-tb $base-margin;
  } @else {
    margin: $base-margin;
  }
}

@mixin flex-center($direction: column) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
  @content;
}
