//BU stands for BASE UNIT, used for margin and padding
$color-primary: #686364;
$color-accent: #d11509;
$breakpoint-medium: 768px;
$breakpoint-large: 1200px;
$shadow-color: rgb(50, 50, 93, 0.25);

//To set quickly all direction padding (if ratio ==1) or
// top-bottom, left-right padding (if ratio != 1) starting with
// 1rem as base-value
@mixin padding($multiplier: 1, $ratio: 1) {
  $base-padding: 1rem * $multiplier;
  @if $ratio != 1 {
    $padding-tb: $base-padding * $ratio;

    padding: $padding-tb $base-padding;
  } @else {
    padding: $base-padding;
  }
}

//Margin: Same as padding
@mixin margin($multiplier: 1, $ratio: 1) {
  $base-margin: 1rem * $multiplier;
  @if $ratio != 1 {
    $margin-tb: $base-margin * $ratio;

    margin: $margin-tb $base-margin;
  } @else {
    margin: $base-margin;
  }
}

@mixin flex-center($direction: column) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
  @content;
}

@mixin box-shadow() {
  box-shadow: rgb(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@mixin min-width($breakpoint) {
  @if ($breakpoint == medium) {
    @media screen and (min-width: $breakpoint-medium) {
      @content;
    }
  } @else if ($breakpoint == large) {
    @media screen and (min-width: $breakpoint-large) {
      @content;
    }
  } @else {
    @error "UNKNOWN MEDIA BREAKPOINT #{$breakpoint}";
  }
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  width: 1px;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 8px;
  background-color: white;
  border: 1px solid;
  transition: all 0.2s ease;
}

.btn--primary {
  @extend .btn;
  border-color: $color-primary;
  color: $color-primary;

  &:hover {
    background-color: $color-primary;
    color: white;
    border-color: white;
  }
}

.btn--accent {
  @extend .btn;
  border-color: $color-accent;
  color: $color-accent;

  &:hover {
    background-color: $color-accent;
    color: white;
    border-color: white;
  }
}
